<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangworld.app.domain.member.repository.MemberRepository">
<select id="findMemberByUsername" resultType="member">
select * from member where username=#{username}
</select>
    <resultMap id="member" type="member">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="auth" property="auth"/>
        <result column="provider" property="provider"/>
        <result column="reg_date" property="regDate"/>
    </resultMap>



    <!-- insertAuthorities 메서드에 대한 쿼리문 -->
    <insert id="insertAuthorities">
        <foreach collection="authorityList" item="authority" index="index" open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO authorities(
            member_id, authority
            )VALUES( #{id} ,#{authority} )
        </foreach>
    </insert>


    <select id="loadUserByUsername" resultMap="memberAuthMap">
        select *
        from member M
        left join authorities A
        on M.id = A.member_id
        where M.username = #{username}
    </select>
    <resultMap id="memberAuthMap" type="principalDetails">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="birthday" property="birthday"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="provider" property="provider"/>
        <result column="reg_date" property="regDate"/>
        <collection property="authorities" ofType="simpleGrantedAuthority">
            <constructor>
                <arg column="authority" javaType="string"/>
            </constructor>
        </collection>
    </resultMap>
</mapper>