#story {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 200px;
	overflow-y: auto;
}

.card {
	width: 18rem;
	flex: 0 0 18rem;
	margin-right: 20px;
	background-color: #E0E0E0;
}
.writerId{
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #E0E0E0;
}
.content {
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #FFFFFF;
}
.createdAt{
	height: 50px;
	background-color: #E0E0E0;
}
.modal{
}
.modal-content{
	padding: 40px;
}
.storyModalWriterId{
	background-color: #E0E0E0;
}
.storyModalContent {
	background-color: #FFFFFF;
}
.storyModalCreatedAt{
	background-color: #E0E0E0;
}
.storyModalContent{
	height: 100px;
}