#story {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow-y: auto;
}

.card {
	display: inline-block;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	background-color: #E0E0E0;
}
.list-group-item {
	padding: 10px;
	display: flex;
	align-items: center;
}
.writerId{
	height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #E0E0E0;
}
.content {
	height: 60px;
	overflow: hidden;
	background-color: #FFFFFF;
}
.createdAt{
	height: 20px;
	background-color: #E0E0E0;
}
.modal{
}
.modal-content{
	border-radius: 80px;
	padding: 40px;
	background-color: #CCFFE5;
}
.modal-header{
	background-color: #E0E0E0;
}
.modal-body {
	background-color: #FFFFFF;
}
.modal-footer{
	background-color: #E0E0E0;
	
}
.storyModalContent{
	height: 100px;
}