#storyMainUpdate {
	display: flex;
	overflow-x: auto;
	width: 100%;
	height: 200px;
}
#storyMainUpdate::-webkit-scrollbar {
  width: 0;
}
.card {
	width: 18rem;
	flex: 0 0 18rem;
	margin-right: 20px;
	background-color: #E0E0E0;
}
.card:last-child {
	margin-right: 0;
}
.writerId{
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #E0E0E0;
}
.content {
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #FFFFFF;
}
.createdAt{
	height: 50px;
	background-color: #E0E0E0;
}
.modal{
}
.modal-content{
	padding: 40px;
}
.modal-header{
	background-color: #E0E0E0;
}
.modal-body {
	background-color: #FFFFFF;
}
.modal-footer{
	background-color: #E0E0E0;
}
.storyModalCreatedAt{
	background-color: #E0E0E0;
}
#storyModalCreatedAt{
	background-color: #E0E0E0;
}
