@CHARSET "UTF-8";
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*스크롤바 보이지 않게 하기*/
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.scroll::-webkit-scrollbar {
    display: none;
}
.scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

body, span {font-family:"DungGeunMo";}
/*div, section, header, aside, footer {padding:10px;}*/

/********** 전체컨테이너 **********/
div#container	{}
.btn {font-family:"DungGeunMo";}
/********** header **********/
header div#header-container {height:100px;}
header div#header-container h2 	{margin:30px 10px 0px 10px;}
.nav-link{color :white; font-weight: bold; font-size: 20px;}
.navImg{height : 50px; width:50px;}
.headerName{font-size : 10px; font-weight: bold; text-align:center; background: linear-gradient(to right, #F3969A, #78C2AD);
     -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
/*index content*/
.index-container{background-position: center; font-family: 'DungGeunMo'; background-size: cover; background-repeat: no-repeat; width: 100vw; height: 80vh;}
#main-image{width: 300px;}
.index-button{border-radius: 25px; margin-left: 15px; border: none;  width: 200px; box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.24)}
.btn-index{font-size: 25px; font-family: 'DungGeunMo';}

/********** content **********/
section#content		{min-height:600px; width: 90vw;}
#userPageContainer {width: 80vw; margin-left: 8vw;}

/*로그인 관련*/
.sns-icon img{height: 50px; width: 50px;}

/* 포토피드 리스트 스크롤바 투명하게 */
 #photoFeed::-webkit-scrollbar { width: 0 !important;}

#photoFeed { scrollbar-width: none !important; }

/********** footer **********/
footer	{background-color:#f8f9fa; background-clip:content-box; clear:both; height: 10.7vh; text-align:center; }
footer p 	{margin-top:30px;}