.game-container{
    display: flex;
    flex-direction: column-reverse;
    height: 66%;
    box-shadow: 4px 4px 8px rgba(81, 203, 206, 0.8);
    border: solid 3px rgba(81, 203, 206, 1);
    border-radius: 3%;
    /* justify-content: center; */
    align-items: center;
}

.game-margin{
    height: 4%;
}