.sreach-container {
    display: flex;
}

.memberSearchBar {
    margin-top: 15px;
    margin-right: 10px;
    height: 10px;
    width: 13vw;
}

.yangMain {
    min-height: 70vh;
}

.signInFrm {
    border: 2px solid white;
    display: flex;
    /* font-family: 'Orbit', sans-serif; */
    font-family: 'Dongle', sans-serif;
    border-radius: 12px;
}

.signInFrmDetail {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.15);

    color: black;
    width: 45vw;
}

.signInLeft {
    padding: 10px;
    border: solid 2px rgba(255, 103, 32);
}



.TermsOfUse {
    max-height: 300px;
    /* 적절한 높이 설정 */
    overflow-y: scroll;
    border: 1px solid #cccccc;
}

.signInLeft * {
    color: black;
}


.sigUpBody {
    display: flex;
    
}
