.contact-info{
    display: flex;
    justify-content: center;
}


.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* 가로 정렬을 위해 flex 사용 */
    margin: 20px;
    
  }
  
  /* 리스트 아이템 스타일 */
  .footer-list li {
    margin-right: 10px;
  }
  .footer-list a {
    color: inherit; /* 상위 요소의 색상 상속 */
    text-decoration: none; 
  }
  .footer-list a:visited {
    color: inherit; /* 상위 요소의 색상 상속 */
    text-decoration: none; 
  }

  .my-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: static;
    bottom: 0;
    opacity: 1;
    z-index: 10;
    align-items: center;
    justify-content: center;
  }

  .my-footer p {
    text-align: center;
  }
  