<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangworld.app.domain.story.repository.StoryRepository">
	<select id="findAttachProf" resultMap="attachProfMap">
		select p.profile_id, a.original_filename, a.renamed_filename from attachment a right join attachment_profile p on a.id = p.attachment_id  where a.id in (select attachment_id from (select * from attachment_profile where profile_id in (select writer_id from story where writer_id = #{id} union select s.writer_id from story s join follow f on s.writer_id = f.followee where f.follower = #{id})))
	</select>
	<resultMap type="AttachmentProfileDto" id="attachProfMap">
		<id column="profile_id" property="profileId"/>
		<result column="original_filename" property="originalFilename"/>
		<result column="renamed_filename" property="renamedFilename"/>
	</resultMap>
</mapper>